#solutions {
  padding: 10px;
  background: #ffffff;
}

.solution {
  list-style: none;
  padding: 6px 0px;
}

.solution:hover {
  cursor: pointer;
}

.solution.underlined {
  text-decoration: underline;
  font-weight: bold;
}